{% if recent_games %}
<table class="data-table" style="min-width:360px;font-size:.82rem;">
  <tbody>
    {% for g in recent_games %}
    <tr class="clickable" onclick="window.location='/{{ locale }}/game/{{ g.game_id }}'">
      <td style="color:var(--gray-400);font-size:.73rem;white-space:nowrap;vertical-align:middle;">{{ g.weekday }}<br>{{ g.date }}{% if g.time %}<br>{{ g.time }}{% endif %}</td>
      <td class="team-name-cell" style="text-align:right;">{{ g.home_team }}</td>
      <td class="col-narrow" style="font-weight:700;white-space:nowrap;vertical-align:middle;">{{ g.home_score }}&nbsp;:&nbsp;{{ g.away_score }}</td>
      <td class="team-name-cell">{{ g.away_team }}</td>
      {% if g.league_label %}
      <td style="text-align:right;color:var(--gray-400);font-size:.73rem;font-weight:600;white-space:nowrap;vertical-align:middle;">{{ g.league_label }}{% if g.group_name %}<br><span style="font-weight:400;">{{ g.group_name }}</span>{% endif %}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p style="color:var(--gray-400);font-size:.85rem;text-align:center;padding:1rem 0;">No recent games found.</p>
{% endif %}
